<div class="container" ng-controller="ArhivaController">
	<div class="col-md-12">
    	<div class="card hovercard">
        	<div class="card-background">
          
        	</div>
        
        	<div class="card-info"> <span class="card-title"> Arhiva articole</span>

        	</div>
    	</div>
    	
<div class="pagination-container">
<nav> 

<br>
	<ul class="pagination"> 
		<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li> 
		<li><a ng-click="getArticlesThatStartWithLetter('A')">A</a></li> 
		<li><a ng-click="getArticlesThatStartWithLetter('B')">B</a></li> 
		<li><a ng-click="getArticlesThatStartWithLetter('C')">C</a></li> 
		<li><a ng-click="getArticlesThatStartWithLetter('D')">D</a></li> 
		<li><a ng-click="getArticlesThatStartWithLetter('E')">E</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('F')">F</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('G')">G</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('H')">H</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('I')">I</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('J')">J</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('K')">K</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('L')">L</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('M')">M</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('N')">N</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('O')">O</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('P')">P</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('Q')">Q</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('R')">R</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('S')">S</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('T')">T</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('U')">U</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('V')">V</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('W')">W</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('X')">X</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('Y')">Y</a></li>
		<li><a ng-click="getArticlesThatStartWithLetter('Z')">Z</a></li>
		<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li> 
	</ul> 
</nav>
</div>
	<div class="pagination-results">


	</div>
    
    </div>
            
</div>  