<section class="single-article" ng-init="loadArticle()" ng-controller="ArticleController">
	<div class = "container">
		<div class="row">
	
			<div class="col-md-12 article-page">
				<h1> {{ article.titlu}}</h1>
				<h4> Incarcat de <i> {{article.owner.fullname}}</i> la data de <i>{{article.uploadedOn}} </i></h4>
				<div ng-show="hasCoauthors" > <h3>Coautori: </h3>
				
				<div class="coauthor" ng-repeat="coauth in article.coauthors">
				<i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
					<h4 class="coauthor-name"> {{coauth.fullname}}</h4>
				
				</div>
		
				</div>
				<div>
					<h4> Numar descarcari: {{article.numberOfDownloads}} </h4>
				</div>
				
				<div ng-show="hasTags" > <h4> Taguri:</h4>
					<div class="tag" ng-repeat="tag in article.tags">{{tag}} </div>
				</div>
				
				<div ng-show="article.idTipArticol == 1">
		    		<p> Editura:<i> {{article.editura}}</i> </p>
		    		<p> Editie: <i> {{article.editie}}</i> </p>
		    		<p> An aparitie: <i> {{article.anAparitie}}</i></p>
		    		<p> ISBN: <i> {{article.isbn}}</i> </p>
		    		<p> ISSN: <i> {{article.issn}}</i></p>
	    		
	    		</div>
	    		
	    		<div ng-show="article.idTipArticol == 2">
	    			<p>Titlu carte: <i>{{article.titluCarte}} </i> </p>
	    			<p>Autori: <i> {{article.autoriCarte}}</i> </p>
	    			<p>Editori: <i> {{article.editoriCarte}}</i> </p>
	    			<p>Nume capitol: <i> {{article.numeCapitol}}</i> </p>
	    			<p>Pagini: <i> {{article.paginaInceput}} - {{article.paginaSfarsit}}</i> </p>
	    			<p>Editura: <i> {{article.editura}} </i> </p>
	    			<p>Editie: <i> {{article.editie}} </i> </p>
	    			<p>An aparitie: <i> {{article.anPublicare}}</i> </p>
	    			<p>ISBN: <i> {{article.isbn }}</i> </p>
	    			<p>ISSN: <i> {{article.issn}} </i> </p>
	    		
	    		</div>
	    		
	    		<div ng-show="article.idTipArticol == 3">
	    		<p> Acest articol a fost prezentat la urmatoarea conferinta </p>
	    			<p>Nume: <i>{{article.nume}} </i></p>
	    			<p>Data: <i> {{article.data}}</i> </p>
	    			<p>Locatia: <i>{{article.locatie}}</i> </p>	
	    		</div>
	    		
	    		<div ng-show="article.idTipArticol == 4">
	    			<p>Nume jurnal/revista: <i> {{article.titluJurnal}}</i> </p>
	    			<p>Numar: <i> {{article.numar}} </i> </p>
	    			<p>Volum: <i> {{article.volum}} </i> </p>
	    			<p>Data aparitie: <i> {{article.dataAparitie}}</i>
	    			<p>Pagini: <i> {{article.paginaStart}} - {{article.paginaSfarsit}} </i> </p>
	    			<p>ISBN: <i> {{article.isbn}}</i> </p>
	    			<p>ISSN: <i> {{article.issn}} </i> </p>
	    		    		
	    		</div>
				
				<button class="btn btn-default download-btn" ng-click="downloadArticle(article.id)" type="button"> Download</button>
				
				<button type="button" class="btn btn-default favourite-btn">
  						<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favourite
	    		</button>
	    						
				</div>
			
			</div> <!-- end row -->
			
			<div class="row">
			
			</div>
			
		</div>	
	
</section>