<section class="single-article" ng-init="loadArticle()" ng-controller="ArticleController">
	<div class = "container">
		<div class="row">
	
			<div class="col-md-12 article-page">
				<h1> {{ article.titlu}}</h1>
				<hr>
				<h4> Incarcat de <a href="/#/user/{{article.owner.id}}" ><i> {{article.owner.fullname}}</i> </a> la data de <i>{{article.uploadedOn}} </i></h4>
				
				
				<div ng-show="hasCoauthors" > <h4>Coautori </h4>
				<div class="coauthor" ng-repeat="coauth in article.coauthors">
				<i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
					<h5 class="coauthor-name"> {{coauth.fullname}}</h5>
				
				</div>
		
				</div>
				<h4> Abstract</h4>
				<p>
				{{article.abstractSection}}
				</p>
				<div class="favourite-btn btn-container"  ng-switch="articleIsFavourited">
				<button class="btn btn-default download-btn" ng-click="downloadArticle(article.id)" type="button"> Download</button>
				
				
		
				<button type="button" ng-switch-when="false" class="btn btn-default favourite-btn" ng-click="addToFavourites()">
  						<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favourite
	    		</button>
	    		
	    		<button type="button" ng-switch-when="true" class="btn btn-default favourite-btn" ng-disabled="true"
	    		ng-click="addToFavourites()">
  					<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorit
	    		</button>
	    		
	    		</div>
	    		<a href="{{viewUrl}}" target="_blank"> <button class="btn btn-default view-btn"> Vizualizare </button>
	    		
	    		</a> 
				<div>
					<p> <b> Numar descarcari: </b> {{article.numberOfDownloads}} </p>
				</div>
				
				<div ng-show="hasTags" > <p class="tag-title"> <b>Taguri </b> </p>
					<div class="tag" ng-repeat="tag in article.tags">{{tag}} </div>
				</div>
				
				<p> <b> WOS:</b> <i> {{article.wos}}</i> </p>
				<p> <b> DOI: </b> <i> {{article.doi}} </i> </p>
				
				<div ng-show="article.idTipArticol == 1">
		    		<p> <b> Editura: </b> <i> {{article.editura}}</i> </p>
		    		<p> <b> Editie: </b> <i> {{article.editie}}</i> </p>
		    		<p> <b> An aparitie:</b> <i> {{article.anPublicare}}</i></p>
		    		<p> <b> ISBN: </b> <i> {{article.isbn}}</i> </p>
		    		<p> <b> ISSN: </b> <i> {{article.issn}}</i></p>
	    		
	    		</div>
	    		
	    		<div ng-show="article.idTipArticol == 2">
	    			<p> <b> Titlu carte: </b> <i>{{article.titluCarte}} </i> </p>
	    			<p> <b> Autori: </b> <i> {{article.autoriCarte}}</i> </p>
	    			<p> <b> Editori: </b> <i> {{article.editoriCarte}}</i> </p>
	    			<p> <b> Nume capitol:</b> <i> {{article.numeCapitol}}</i> </p>
	    			<p> <b> Pagini: </b> <i> {{article.paginaInceput}} - {{article.paginaSfarsit}}</i> </p>
	    			<p> <b> Editura: </b> <i> {{article.editura}} </i> </p>
	    			<p> <b> Editie: </b> <i> {{article.editie}} </i> </p>
	    			<p> <b> An aparitie: </b> <i> {{article.anPublicare}}</i> </p>
	    			<p> <b> ISBN:</b> <i> {{article.isbn }}</i> </p>
	    			<p> <b> ISSN:</b> <i> {{article.issn}} </i> </p>
	    		
	    		</div>
	    		
	    		<div ng-show="article.idTipArticol == 3">
	    		<p> Acest articol a fost prezentat la urmatoarea conferinta </p>
	    			<p> <b> Nume: </b> <i>{{article.nume}} </i></p>
	    			<p> <b> Data: </b> <i> {{article.data}}</i> </p>
	    			<p> <b>Locatia: </b> <i>{{article.locatie}}</i> </p>	
	    		</div>
	    		
	    		<div ng-show="article.idTipArticol == 4">
	    			<p> <b> Nume jurnal/revista: </b> <i> {{article.titluJurnal}}</i> </p>
	    			<p> <b> Numar: </b> <i> {{article.numar}} </i> </p>
	    			<p> <b> Volum:  </b> <i> {{article.volum}} </i> </p>
	    			<p> <b> Data aparitie: </b> <i> {{article.dataAparitie}}</i>
	    			<p> <b> Pagini: </b> <i> {{article.paginaStart}} - {{article.paginaSfarsit}} </i> </p>
	    			<p> <b> ISBN:  </b> <i> {{article.isbn}}</i> </p>
	    			<p> <b> ISSN: </b> <i> {{article.issn}} </i> </p>
	    		    		
	    		</div>
								
				</div>
			
			</div> <!-- end row -->
			
			<div class="row">
			
			</div>
			
		</div>	
	  <div modal="showModalFavourite" close="cancel()">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	    	 	<div class="modal-header alert alert-success">
	          		<h4 class="text-center"></h4>
	      		</div>
	     	 	<div class="modal-body">
	          	    <p class="text-center">Articolul a fost adaugat la favorite</p>
	      		</div>
	      		
	      		<div class="modal-footer">
	        		<button class="btn btn-success" ng-click="ok()">Ok</button>
	        		
	     		</div>	
	    	</div> <!-- end modal-conent -->
	    </div> <!-- end modal-dialog -->
     
    </div>  <!-- end modal-show success -->
	
</section>