<div ng-cloak class="container container-home" ng-controller="HomeController as home">

<div class="container" ng-switch="isLoggedIn">
    <div class="container" ng-switch-when="true">
    	<div class="row">
    		<div class ="col-md-12">
    			<div class="header-home">
    				<h3 class="welcome-header text-center"> Bine ati venit, {{home.user.nume}} {{home.user.prenume}}! </h3>
    				<div class="header-buttons">
    					<a ui-sref="arhiva" class="header-button"> Arhiva articole</a>
    					<a class="header-button" ng-click="home.incarcare()"> Incarcati articol</a>
    				
    				</div>
    			</div>
    
   		    </div>
    
    </div>
        <div class="row">
            <div class="col-md-12">            
				<h1 class="welcome-title text-center"> Ultimele articole </h1>  
            </div>
        </div>
        
        <div class="row latest-articles">
        <div class="col-md-4" ng-repeat="article in latestArticles">
       		<div class="article-container">
       		
       		<i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
       		<a href="/#/article/{{article.id}}" ><h3>{{article.titlu}}</h3> </a>
       		 <p> Incarcat de <a href="/#/user/{{article.owner.id}}"><i>{{ article.owner.fullname}} </i> </a> </p>
       		 <p> la data de <i>{{ article.uploadedOn }} </i> </p>
       		 
       		  <a class="vizualizare" href="/#/article/{{article.id}}" > 
       		  <button class="btn btn-primary download-btn" type="button">
                  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"> </span>
                    Vizualizare
              </button>
              </a>	
        	</div>
        </div>
        
        
        </div>


    </div>

    <div ng-switch-when="false">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class = "alert alert-warning">

                        <h2> Pentru autentificare click <a class="alert-link" ui-sref="login">aici</a> </h2>
						<br>
                        <div>
                           Nu aveti cont? <a class="alert-link" ui-sref="register">Creati un nou cont</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>


</div>

  <div modal="home.showModalRegulament">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	    	 	<div class="modal-header alert alert-warning">
	          		<h4 class="text-center">Regulament aplicatie</h4>
	      		</div>
	     	 	<div class="modal-body">
	          	    <p class="text-center">Doriti ca inainte de incarcarea unui articol sa cititi 
	          	    instructiunile de incarcare?</p>
	      		</div>
	      		
	      		<div class="modal-footer">
	      			
	        		<button class="btn btn-success"  ng-click="home.redirectRegulament()">Ok</button>
	        	
	        		<button class="btn btn-success" ng-click="home.redirectUpload()"> Nu</button>
	        	
	     		</div>	
	    	</div> <!-- end modal-conent -->
	    </div> <!-- end modal-dialog -->
     
    </div>  <!-- end modal-show success -->


</div>
