<div class="container">
	<div class="card hovercard">
        	<div class="card-background">
          
        	</div>
        
        	<div class="card-info"> <span class="card-title"> Cautare </span>

        	</div>
    	</div>
    	
    	
  <div ng-controller="QueryController" class="query-div">
    	<h1 class="text-center"> Cautare articol </h1>
    	<div class="row query-section">
    	<div class="col-md-6">
    	<form name="searchArticle">
    	<h5>Tip articol</h5>
    		  	
  		<label class="checkbox-inline"><input type="radio" ng-model="radioInput" value="jurnal">Jurnal/Revista</label>
		
  		<label class="checkbox-inline"><input type="radio" ng-model="radioInput" value="carte-capitol">Carte-capitol</label>
			
  		<label class="checkbox-inline"><input type="radio" ng-model="radioInput" value="carte-completa">Carte completa</label>
	
  		<label class="checkbox-inline"><input type="radio" ng-model="radioInput" value="conferinta">Conferinta</label>
	
	 	  
   		<h5>Titlu</h5>
   		<div class="form-group">
	       <input style="width:300px;" type="text" id="title" name="title" ng-model="title">       
	   </div>
	   
	   <h5>Autor(se va completa numele, apoi prenumele)</h4>
	   <div class="form-group">
	   	<input style="width:300px;" class="query-input" type="text" id="author" name="author" ng-model="author"> 
	   </div>
	   
	   <h5>Cuvant cheie</h5>
	   <div class="form-group">
	   	<input style="width:300px;" class="query-input" type="text" id="tag" name="tag" ng-model="tag"> 
	   </div>
	   
	    <h5>An</h5>
	   <div class="form-group">
	   	<input style="width:300px;" class="query-input" type="text" id="an" name="an" ng-model="an"> 
	   </div>
	   
	   <button class="btn btn-default" ng-click="sendQuery()" type="button">Cautare</button>
	   
    	</form>
    	</div>
    	
    	<div class="col-md-6">
    	
    	<h5 class="text-center"> Instructiuni de cautare </h5>
    	<div class="instructions">
	    	<p><i>Trebuie selectat un singur tip de articol</i> </p>
	    	<p><i>In cazul necompletarii unui camp acesta nu va fi luat in considerare </i></p>
	    	<p><i>Pentru autor se vor lua in considerare doar combinatiile de forma nume+prenume </i></p>
	    	<p><i>In cazul in care se face cautare dupa titlu, in caseta trebuie sa fie introdus un titlu complet </i></p>
	    	<p><i>Cautarea se va face dupa toate criteriile ce au fost completate </i> </p>
    	
      	</div>
    	</div>
    	
    	</div>
    	

		
	<div modal="showResults" close="cancel()">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	    	 	<div class="modal-header alert alert-warning">
	          		<h4 class="text-center">Rezultate cautare</h4>
	      		</div>
	     	 	<div class="modal-body">
	     	 	<div ng-switch="hasResults">
	     	 	<div ng-switch-when="true">
					<div ng-repeat="article in articles | orderBy : 'title' " >
					<h4> <a href="/#/article/{{article.uploadedArticleId}}"> <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i> {{article.title}}</a></h4>
					    			    
		   			 </div>
		   		</div>
		   		
		   		<div ng-switch-when="false">
		   		 <h3> Cautarea nu a returnat niciun rezultat</h3>
		   		
		   		</div>
		   			 
	          	 </div>
	      		</div>
	      		
	      		<div class="modal-footer">
	        		<button class="btn btn-success" ng-click="ok()">Ok</button>
	        		<button class="btn btn-success" ng-click="cancel()">Cancel</button>
	     		</div>	
	    	</div> <!-- end modal-conent -->
	    </div> <!-- end modal-dialog -->
     
    </div>  <!-- end modal-show -->
    
    	</div>
    	
    

</div>