<section ng-controller="UploadController">
 
  <div class="container">
  <form method="post"  id="uploadForm" name="uploadForm">
  <div class="text-center"><h1>Upload a file</h1></div>
  
   <div class="form-group">
       <label  class="control-label" for="title">Titlu</label>
       <input  class="form-control" type="text" id="title" name="title" ng-model="title" required>
       <span  ng-show="uploadForm.title.$touched && uploadForm.title.$invalid" class="help-block">Completati titlul</span>
   </div>
   
    <div class="form-group">
       <label class="control-label" for="title">Fisier</label>
       <p><label class="control-label" for="pdf-only">Sunt acceptate doar fisierele in format PDF</label> </p>
       <input type="file" file-model="myFile" accept="application/pdf"/>    
   </div>
   <div class="form-group">
   <label class="control-label" for="coautori"> Adaugati coautori?</label>
   <button class="btn btn-default" type="button" name="coautori" ng-click="adaugaCoautori()">Adauga</button>
   <div class="coauthors" id="coautori">
   
   </div>
   </div>
   <div class="alert alert-danger form-group center-block" ng-show="hasError">
   <h4>{{errorMessage}}</h4>
   </div>
   
   <div class="form-group center-block">
      <button class="btn btn-default" name="submit" type="submit" ng-click="doUpload()">Upload</button>
    </div>	
  
  </form>
  
  </div>
  </section>
 
  
